@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Aprende como <a href="https://docs.microsoft.com/aspnet/core">construir Web apps con ASP.NET Core</a>.</p>
</div>
